{% load staticfiles %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Food for Thought</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top" id="sticky-header">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><i class="fa fa-cutlery" aria-hidden="true"></i> Food for Thought</a>
              <button type='button' class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="sr-only">Toggle Navigation</span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="{% url 'post_list' %}">Restaurants</a></li>
                {% if user.is_authenticated %}
                  <li><a href="{% url 'post_new' %}">Add Restaurant</a></li>
                  {% if user.is_superuser %}
                    <li><a href="{% url 'post_draft_list' %}">View Drafts</a>
                  {% endif %}
                {% endif %}
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if not user.is_authenticated %}
                <li><a href="{% url 'signup' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href=""><span class="glyphicon glyphicon-user"></span> Hello, {{request.user}}</a></li>
                <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
        <div class="container content-block">
            <div class="row">
                <div class="col-lg-12 col-md-10 mx-auto">
                  {% block content %}
                  {% endblock %}
                  <i class="fa fa-cutlery" aria-hidden="true" style="#DF4444"></i><a class="learn-more brand-name" id="displayText" href="javascript:toggle()"> Food for Thought</a><div id="toggleText" style="display: none">
                    <p class="fft-info"></p>
                    <p class="fft-info">Food for Thought was created in 2017 by a Eindhoven University</p>
                    <p class="fft-info">of Technology student with the s-number s164274. The website is</p>
                    <p class="fft-info">made for an assignment of the course 2ID60 Web technology. The</p>
                    <p class="fft-info">task for the assignment is build a complete web app using Django,</p>
                    <p class="fft-info">including a well-designed, responsive front-end, and a backend with</p>
                    <p class="fft-info">data storage and its own REST API to return data belonging to your</p>
                    <p class="fft-info">application.</p>
                  </div>
                </div>
            </div>
        </div>
        <footer class="footer">
          <div class="container">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com/" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://facebook.com/" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://instagram.com/" target="_blank">
                  <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </footer>

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="static\js\expandAndCollapse.js"></script>
    </body>
</html>
