{% extends 'blog/base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-10 mx-auto">
                <div class="post">
                    {% if post.published_date %}
                        <div class="date">
                            {{ post.published_date }}
                        </div>
                    {% endif %}
                    <h1>{{ post.title }}</h1>
                    <p>{{ post.text|linebreaksbr }}</p>

                    <br>

                    <div>
                      {% if user.is_authenticated %}
                        <li><a href="{% url 'post_new_review' %}">Post Review</a></li>
                      {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
